<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{feedbackController.loadFeedback(param.id)}"/>
    </f:metadata>
    <h:head>
        <title>Delete Record</title>
    </h:head>
    <div align="center">
        <h1>Subject Feedback</h1> 
    </div>
    <hr style="border-width: 2px"/>
    <h:body>
        <div align="center">  
            <h2>Delete Feedback</h2> 
        </div>
        <div align="center" style="color: blue">  
            <p>Are you sure you want to delete?</p>
        </div>
        <div align="center">
            <h:form>
                <p>
                <label>Subject Name: 
                    <h:outputText value="#{feedbackController.feedback.subjectName}"/>
                </label>
                </p>
                <p>
                <label>Content:
                    <h:outputText value="#{feedbackController.feedback.content}"/>
                </label>
                </p>
                <p>
                <h:inputHidden value="#{feedbackController.feedback.id}"/>
                <h:button value="Cancel" outcome="list"/>  &nbsp;&nbsp; 
                <h:commandButton value="Delete" action="#{feedbackController.deleteFeedback()}"/>
                </p>
            </h:form> 
        </div>
    </h:body>
</html>

