<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{feedbackController.loadFeedback(param.id)}"/>
    </f:metadata>
    <h:head>
        <div align="center"><h1>Subject Feedback</h1> </div>
        <hr style="border-width: 2px"/>
        <title>Feedback List</title>
    </h:head>
    <h:body>
        <div align="center">
        <h1>Edit Feedback</h1>
        <h:form>
            <p>
                <label>Subject Name:
                    <h:inputText id="subject" value="#{feedbackController.feedback.subjectName}" />
                </label>
            </p>
            <p>
                <label> Content:
                    <h:inputTextarea id="content" value="#{feedbackController.feedback.content}" />
                </label>
            </p>
            <p>
                <h:inputHidden value="#{feedbackController.feedback.id}"/>
                <h:inputHidden value="#{feedbackController.feedback.userName}"/>
                <h:button value="Cancel" outcome="list"/>  &nbsp;&nbsp; 
                <h:commandButton value="Save" action="#{feedbackController.saveChanges}"/>
            </p>
        </h:form>
        </div>
    </h:body>
</html>

