<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>FeedBack</title>
    </h:head>
    <h:body>
        <div align="center"><h1>Subject Feedback</h1> </div>
        <hr style="border-width: 2px"/>
        <h:form>
            <div align="center">
                <label>
                    <h1> Subject Name</h1>           
                    <h:inputText
                    id="subject" 
                    value="#{feedbackController.feedback.subjectName}" />
                </label>
            </div>
            <div align="center">
                <label> 
                    <h1>Feedback Content</h1>
                </label>
            </div>
            <div align="center">
                <h:inputTextarea 
                    id="content" 
                    value="#{feedbackController.feedback.content}" />
            </div>
                &nbsp;&nbsp;
            <div align="center">
                <h:commandButton value="Save" action="#{feedbackController.save(sessionController)}"/>
                                                 &nbsp;&nbsp; 
                <h:button value="Cancel" outcome="list"/> 
            </div>                     
        </h:form>
    </h:body>
</html>

