<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Student Feedback</title>
    </h:head>
    <h:body>
        <div align="center"><h1><h:outputText value="Subject Feedback" /></h1></div>
        <hr style="border-width: 2px"/>
        <div align="center"><h:link value="Log in Page" outcome="login"/></div>
    </h:body>
</html>

