<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Feedback List</title>
    </h:head>
    <h:body>
        <div align="center"><h1>Subject Feedback</h1> </div>
        <hr style="border-width: 2px"/>
        <div align="center">
            <h:dataTable border="1" cellpadding="20" var="feedback"  value="#{feedbackController.feedbacks}">
                <h:column>
                    <f:facet name="header">
                    Subject Name
                    </f:facet>
                <h:outputText value="#{feedback.subjectName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                    Feedback Content
                    </f:facet>
                <h:outputText value="#{feedback.content}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                 User Name
                    </f:facet>
                <h:outputText value="#{feedback.userName}"/>
                </h:column>                  
                <h:column>
                    <f:facet name="header">
                    Delete
                    </f:facet>
                    <h:link value="Delete" outcome="deletefeedback">
                        <f:param name="id" value="#{feedback.id}"/>
                    </h:link>
                </h:column>
                <h:column>
                    <f:facet name="header">
                    Edit
                    </f:facet>
                    <h:link value="Edit" outcome="editfeedback">
                        <f:param name="id" value="#{feedback.id}"/> 
                    </h:link>
                </h:column>           
            </h:dataTable>
        </div>
        <div align="center">
            <h:form>
                <p>
                    <h:link value="New Feedback" outcome="feedbackpage"/>
                </p>                              
                <p>
                    <h:commandButton value="Log Out " action="#{accountController.logout(sessionController)}"/>
                    <h:link value="Change Subscription" outcome="updateSubscription"/>
                </p>
            </h:form>
        </div>
    </h:body>
</html>

