<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Feedback List</title>
    </h:head>
    <h:body>
        <div align="center"><h1>Administrator Management</h1> </div>
        <hr style="border-width: 2px"/>
        <div align="center">
            <h:dataTable border="1" cellpadding="20" var="person"  value="#{accountController.people}">
            <h:column>
                <f:facet name="header">
                    User Name
                </f:facet>
                <h:outputText value="#{person.userName}"/>
            </h:column>
                <h:column>
                    <f:facet name="header">
                     Subscription
                    </f:facet>
                <h:outputText value="#{person.subscription}"/>
            </h:column>        
            </h:dataTable>
        </div>
        <div align="center">
            <h:form>                             
                <p>
                    <h:commandButton value="Log Out " action="#{accountController.logout(sessionController)}"/>
                </p>
            </h:form>
        </div>
    </h:body>
</html>

