<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Subject Feedback Login</title>     
    </h:head>
    <h:body>
        <div align="center">
            <h1>Subject Feedback</h1> 
        </div>
        <hr style="border-width: 2px"/>
        <div align="center">
            <h:form>
                <h2>Log In</h2>         
                <p>
                    <label>Student ID <h:inputText value="#{accountController.userName}"/> </label>
                </p>
                <p>
                    <label>Password <h:inputSecret value="#{accountController.password}"/></label>
                </p> 
                <h:messages style="color: red;"/>
                <p>
                    <h:commandButton value="Log In " action="#{accountController.login(sessionController)}"/>
                </p>  
                <p>
                    <h:commandButton value="Log Out" action="#{accountController.logout(sessionController)}"/>
                </p>
                <p>
                    <h:link value="Register" outcome="register"/>
                </p>
            </h:form>
        </div>
    </h:body>
</html>
                
   

