<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register</title>
    </h:head>
    <h:body>
        <div align="center"><h1>Register</h1> </div>
        <hr style="border-width: 2px"/>   
        <div align="center">
            <h:form>
                <p>
                    <label>Username Name:
                        <h:inputText id="userName" value="#{accountController.account.userName}" />
                    </label>
                </p>
                <p>
                    <label>  Subscription               
                        <h:selectOneRadio id="subscription" value="#{accountController.account.subscription}">
                            <f:selectItem itemValue="FREE" itemLabel="Free" />
                            <f:selectItem itemValue="STANDARD" itemLabel="Standard"/>
                            <f:selectItem itemValue="PREMIUM" itemLabel="Premium" />
                            <f:selectItem itemValue="ADMIN" itemLabel="Admin"/>
                        </h:selectOneRadio>
                    </label>
                </p>
                <p>
                    <label>Password:
                        <h:inputText id="npassword" value="#{accountController.account.password}"/>
                    </label>
                </p>             
                <h:commandButton value="Save" action="#{accountController.save()}"/>
          &nbsp;&nbsp; 
                 <h:button value="Cancel" outcome="login"/> 
            </h:form>
        </div>
    </h:body>
</html>

