<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Register Succeed</title>
    </h:head>
    <h:body>
        <div align="center">
            <h1>Register</h1>
        </div>   
        <hr style="border-width: 2px"/>   
        <div align="center">
            <h2>Register Succeed!</h2>
            <h:link value="Return" outcome="login"/>    
        </div>       
    </h:body>
</html>

