<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{accountController.loadAccount(sessionController)}"/>
    </f:metadata>
    <h:head>
        <div align="center"><h1>Subject Feedback</h1> </div>
        <hr style="border-width: 2px"/>
        <title>Subscription List</title>
    </h:head>
    <h:body>
        <div align="center">
            <h1>Update Subscription</h1>
            <h:form>
                <p>
                    <label>  Subscription               
                        <h:selectOneRadio id="subscription" value="#{accountController.account.subscription}">
                            <f:selectItem itemValue="FREE" itemLabel="Free" />
                            <f:selectItem itemValue="STANDARD" itemLabel="Standard"/>
                            <f:selectItem itemValue="PREMIUM" itemLabel="Premium" />
                        </h:selectOneRadio>
                    </label>
                </p>
                <p>
                    <h:inputHidden value="#{accountController.account.userName}"/>
                    <h:inputHidden value="#{accountController.account.password}"/>
                    <h:inputHidden value="#{feedbackController.feedback.id}"/>
                    <h:button value="Cancel" outcome="list"/>  &nbsp;&nbsp; 
                    <h:commandButton value="Save" action="#{accountController.saveChanges}"/>
                </p>
            </h:form>
        </div>
    </h:body>
</html>

